$component-name: 'c-repositories';

.#{$component-name} {
  margin: 0px auto;
  width: 100%;
  padding: 0 30px;
  max-width: 1200px;
  text-align: center;

  &__heading {
    font-size: 2rem;
    margin: 1rem 0;
  }

  &__list {
    display: grid;
    gap: 1rem;
    list-style: none;
    margin-bottom: 3rem;
  }
}
