@import 'variables';
@import 'components/repositories';
@import 'components/repositories-item';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem $font-family;
  background: #fafafc;
  color: #121214;
}

a {
  text-decoration: none;
  outline: none;
}
